.container{
    display: flex;
    justify-content: center;
    background-color: #c4c0c0;
    min-height: 100vh;
    align-items: center;
}
.formContainer{
    border: 1px solid silver;
    width: fit-content;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    height: fit-content;
    background-color: #fff;
}
.header{
    text-align: left;
    margin-bottom: 40px;
    font-size: 1.8rem;
    color: blue;
}
.formField{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 75px;
}
.formField label{
    text-align: left;
    margin-bottom: 5px;
    color: grey;
    font-size: 0.9rem;
}